.navbar {
  background-color: white;
  color: black;
}
.navbar .navbar-header {
  border: 3px solid black;
  color: orangered;
  padding: 10px;
}
.navbar li {
  border-bottom: 3px solid orangered;
  margin: 0 5px;
}
.navbar a {
  color: black;
}
#about .hello-left {
  text-align: right;
  padding-right: 24px;
}
#about .hello-right {
  border: 5px solid black;
  background-color: white;
  padding: 15px;
}
#experience {
  overflow: auto;
  padding-bottom: 50px;
}
#experience .right {
  padding-bottom: 20px;
}
#experience h4 {
  font-weight: 500;
}
#experience hr {
  margin-top: 0;
  margin-bottom: 10px;
  border-top: 3px solid black;
}
@media (max-width: 991px) {
  .job {
    padding: 10px;
  }
}
#work {
  clear: both;
}
#work img {
  height: inherit;
  width: inherit;
}
/*Mobile*/
@media (max-width: 799px) {
  .project {
    height: 150px;
    width: 300px;
    left: 25%;
  }
}
@media (min-width: 800px) {
  .project {
    max-width: 100%;
    width: 400px;
    height: 200px;
    left: 0;
  }
}
#contact {
  clear: both;
  padding-top: 2em;
}
#contact h1 {
  font-size: 48px;
}
.work-together {
  font-size: 12px;
  color: lightgrey;
}
/*Larger phones up to desktops */
@media (min-width: 600px) {
  #contact h1 {
    position: relative;
    display: inline;
  }
  .work-together {
    text-align: right;
    float: right;
  }
}
/* Mobile */
@media (max-width: 599px) {
  #contact h1 {
    display: block;
    text-align: center;
  }
  #contact .work-together {
    text-align: center;
  }
}
form {
  width: 75%;
}
form .form-control {
  color: darkgrey;
  background-color: #eee;
  font-style: italic;
}
form .btn {
  background-color: orangered;
  color: white;
}
/*Desktops */
@media (min-width: 800px) {
  form {
    width: 50%;
  }
}
footer {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
footer hr {
  border-top: 3px solid black;
}
footer img {
  height: 50px;
  width: 50px;
}
footer .bye {
  font-style: italic;
  padding: 25px;
}
.title-text {
  font-family: "Crimson Text", serif;
}
.color-text {
  color: orangered;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.smaller-inner {
  width: 85%;
}
.center-items {
  margin: 0 auto;
}
body {
  font-family: "Raleway", serif;
}
