.navbar .navbar-header {
  border: 3px solid black;
  color: orangered;
  padding: 10px;
}
.navbar li {
  border-bottom: 3px solid orangered;
  margin: 0 5px;
}
.title-text {
  font-family: "Crimson Text", serif;
}
.navbar {
  background-color: white;
  color: black;
}
